/* box model box sizing merging content and box space */

*, *::after, *::before {
    box-sizing: border-box;
}

/* removing margin and padding of all elements */
* {
    margin: 0;
    padding: 0;
}

/* font style */

body {
    font-family: "Roboto", monospace;
}

.logo, .text-section h1 {
    color: #f9faf8;
}

.logo {
    font-size: 24px;
}

.links, .text-section p, .hero-section button {
    font-size: 18px;
    color: #e5e7eb;
}

.links {
    text-decoration: none;
}

.text-section h1 {
    font-size: 48px;
    font-weight: 900;
}

/* assign the flex property here */

header,
footer,
.hero-section,
.box-section,
.box-section h2,
.info,
.box-container,
.text-section,
.list {
    display: flex;
}

.box-section, .box-container, .text-section {
    flex-direction: column;
}

.text-section {
    gap: 8px;
}

/* background colors */

header, .hero-section, footer {
    background-color: #1f2937;
}

/* style header */

header {
    padding-top: 16px;
    justify-content: space-around;
}

/* style the list */

.list {
    list-style: none;
    gap: 16px;
}

/* hero section */

.hero-section {
    gap: 16px;
    justify-content: center;
    padding: 64px 192px 80px;
    align-items: center;
}

.image-section img {
    height: auto;
    width: 432px;
}

.text-section button {
    height: 40px;
    width: 128px;
    font-weight: 700;
    border-radius: 8px;
    border: none;
    background-color: #3882f6;
}

/* style box section */

.box-section {
    margin-bottom: 48px;
}

.box-section h2 {
    justify-content: center;
    margin-top: 48px;
}

    /* design box */

.info {
    gap: 16px;
    padding: 48px 192px;
    flex-wrap: wrap;
    justify-content: center;
}

.box-container .box {
    height: 144px;
    width: 144px;
    border: 2px solid black;
    background-color: burlywood;
}

.box-container .text {
    text-align: center;
}

.box-container {
    gap: 8px;
    max-width: 200px;
    align-items: center;
}

footer {
    justify-content: center;
}